body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider {
  font-family: 'Gotham Narrow SSm';
  display: block;
  position: relative;
  margin: .5em 5% 1em 0;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.slider label {
  display: block;
  margin: 0 0 .5em 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
  color: #fff;
}

.slider .range-bar {
  display: block;
  height: 3px;
  margin: .5em 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 3px;
}

.slider .range-handle {
  background-color: #34FFE9;
  box-shadow: none;
}

.slider .range-quantity {
  background-color: #34FFE9;
}

.slider .range-min, .slider .range-max {
  font-size: 1.5em;
  color: #fff;
  margin-top: -.4em;
  display: none;
}

.slider .range-min {
left: -2em;
}

.slider .range-max {
  right: -2em;
}

@media screen and (max-width: 800px) {
  .slider {
    width: 100%;
  }
  .slider label {
    display: block;
    width: 100%;
    margin: 1em 0;
  }
  .slider .range-bar {
    display: block;
    width: 80%;
    margin-left: 10%;
  }
}

@media tv and (min-width: 1920px) and (orientation: landscape) {
  body {
    cursor: none;
  }
}
