body {
  font-family: 'Gotham Narrow SSm';
  overflow: hidden;
}

canvas.main {
  opacity: 0.75;
}

.popcontainer {
  position: absolute;
  right: 0;
  top: 2em;
}

.usercontainer {
  position: absolute;
  left: 0;
  top: 2em;
}

.marker {
}

.note {
  padding-bottom: 4px;
}

.node {
  /*color: #34FFE9;*/
  color: #fff;
  background: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2em;
  margin: .5em;
  z-index: 100;
}

.node * {
  display: inline-block;
  vertical-align: middle;
  padding: 0 .5em;
}

.node .marker {
  margin-left: .5em;
}

.hidden {
  display: none;
}

.node p {
  margin-right: 1em;
  font-weight: 500;
}


iframe[seamless]{
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

#vis {
  position:absolute;
  height: 66%;
  width: 100%;
}

#controls {
  position: absolute;
  height 33%;
  width: 100%;
  top: 66%;
}
