body {
/*  font-family: 'Gotham Narrow SSm'; */
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas.main {
  opacity: 0.75;
}

.popcontainer {
  position: absolute;
  left: 1.5em;
  top: 150px;
  width: 15%
}

#tweetdetails {
  right:-20%;
  width: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 2em;
  background-color: rgba(255,255,255,.1);
  border-left: 1px solid rgba(255,255,255,.2);
}

.tweet-map {
  width: 320px;
  height: 200px;
  stroke: #3d9ee8;
  stroke-width: 1.5px;
  fill: rgba(255,255,255,.3);
}

.tweet-item .content .user-info .left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
.tweet-item .user-name {
  font-weight: 200;
  font-size: 1.5em;
}
.tweet-item .content .extras {
  position: absolute;
  top: 380px;
  font-size: 1em;
}
.tweet-item .content .extras ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweet-item .content .tweet-text {
  font-size: 14px;
}

.note {
  padding-bottom: 4px;
}

.content {
  color: #fff;
}

.node {
  color: #fff;
  background-color: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2em;
  margin: 0.5em;
  min-width: 200px;
  width: 80%;
  overflow: hidden;
  z-index: 100;
}

.node * {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 .5em;
}

.hidden {
  display: none;
}

.node p {
  margin-right: 1em;
  font-weight: 500;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

iframe[seamless]{
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

#vis {
  position:absolute;
  height: 66%;
  width: 100%;
}

#controls {
  position: absolute;
  height 33%;
  width: 100%;
  top: 66%;
}

@media tv and (min-width: 1920px) and (orientation: landscape) {
  body {
    cursor: none;
  }
}
